<div class="panel panel-default">
  <div class="panel-body">
<h1 class="text-center">Editing Film</h1>

<%= render 'form', film: @film %>

<%= link_to 'Show', @film %> |
<%= link_to 'Back', films_path %>
</div>
</div>
