<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h1 class="text-center">Your Amazing Film Reviews</h1>
<% if !user_signed_in? %>

    <p class="text-center">Not have account yet?</p>
    <p class="text-center"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", style:"color: #fff"  %></p>
<% else %>
    <p class="text-center">Feel free to find your favourite films.</p>

<% end %>
  </div>

<div class="row">
  <% @films.each do |film| %>
    <div class="col-sm-6 col-md-3">
        <%= link_to (image_tag film.thumbnail, class: 'thumbnail'), film %>
    </div>  
  <% end %>
</div>

<style>
  .thumbnail {
    width: 100%;
    height: 250px;
  }
</style>